/*add here for code changes*/

/*Commonly Changed Items*/
:root{
    --backgroundColour:#433836;
    --buttonBackgroundColor:#6EB3D2;
    --buttonTextColor:white;
    --textDarkBlueColor:#014598;
    --gameTopBackground: white;
    --backgroundColour2:#433836;
    --scoreTextBackground:#FBCE59;
    --borderColor2:#6EB3D2;
    --scoreTextBackground:#F25528;
    --finalPopUpBackground:white;
}

/*SelectionPage*/
.selectionPage,.gamePage{
    background-color: transparent;
}

/*InstructionPage*/
.instruction{
    color: var(--textWhiteColor);
}
.details{
    color: var(--textBlackColor);
}

/*GamePage*/
canvas{
    width: 100%;
}

/*FinalPage*/
.finalPage{
    top: 0;
}

.scoreText{
    color: var(--textWhiteColor);
}